package components 

import (
	"lt2-test/config"
)

templ Header() {
	<header class="header">
		<nav>
			<a href="/">{ config.Title }</a>
			<a href="/docs">Docs</a>
		</nav>
		<form action="/search" method="get" id="search-form">
			<input type="text" name="search" placeholder="Search..."/>
			<button type="submit">
				@SearchIcon()
			</button>
		</form>
	</header>
}
